// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #000;
$white: #fff;
$grey: #dddddd;
$green: #09896f;
$red: #d52a32;
$blue: #055885;
$burgundy: #bc3869;


$link: $burgundy;


$green-rgba: rgba(9, 137, 111,0.90);


$form-blue: #156ebb;
$heading-blue: #196fbb;


$light-brown: #997d66;
$light-blue: #86ccd5;
$light-grey: #efefef;
$box-grey: #a09d9d;
$focus-color: $blue;
$focus: $focus-color;

$body-text: $black;

// ======================
// DEFAULT SYSTEM COLORS

$system__pink: #F9D5DB; // For errors i.e.
$system__blue: #D9EDF7; // For system messages i.e.
