// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #000;
$white: #fff;
$grey: #7c7c7c;

// DOTS
$light-brown: #997d66;
$light-blue: #86ccd5;
$light-grey: #f1f5f7;

$body-text: $brown;
$link: $blue;

// ======================
// DEFAULT SYSTEM COLORS

$system__pink: #F9D5DB; // For errors i.e.
$system__blue: #D9EDF7; // For system messages i.e.
