// CONFIGURE SUSY 2 GLOBAL DEFAULTS
// =============================================================================

$susy: (
  columns: 12,
  gutters: 20px/40px,
  column-width: 40px,
  container: 1400px
);

// GUTTERS
$gutter: 15px;
$gutter2: 30px;

// GENERAL BREAKPOINTS
// =============================================================================
.grid {
  padding: 10px;
}
