// GUTTERS
// =============================================================================
$gutter: 15px;
$gutter2: 30px;

// GENERAL BREAKPOINTS
// =============================================================================
.grid {
  background-color: $grey;
}
