// HOME PAGE / DASHBOARD
// =============================================================================

.container-fluid{
  width: 90%;
  margin-top: $gutter;
  .card{
    .img-wrapper{
      img{
        width:100%;
      }
    }
    .card-body{
      .btn-large{
         @include button($burgundy);
      }
    }
  }
}
